* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px
}

#top-bar {
  background-color: #ba2e1f;
  height: 51px;
  width: 100%;
}

#top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#top-bar .container > ul, .ul-top-bar{
  display: flex;
  font-size: 12px;
}

#top-bar .container > ul li:nth-child(even),
.ul-top-bar li:nth-child(even) {
  margin: 0 4px;
  color: white;
}

#top-bar a, .ul-top-bar a{
  color: white;
  text-decoration: none;
}

#search {
  position: relative;
}

#search input {
  width: 210px;
  height: 25px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 12px;
  padding-left: 10px;
}

.search-ico {
  position: absolute;
  top: 4px;
  right: 7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ba2e1f;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}

.logo h1 {
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.logo h1::first-letter {
  font-size: 46px;
}

.logo p { font-size: 12px; }

.social ul {
  display: flex;
}

.social ul li {
  background-color: #333333;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.social ul li:nth-child(even) {
  margin: 0 10px;
}

.social ul li:first-child:hover {
  background-color: #0e76a8;
}

.social ul li:nth-child(2):hover {
  background-color: #00acee;
}

.social ul li:nth-child(3):hover {
  background-color: #c8232c;
}

.social ul li:nth-child(4):hover {
  background-color: #db4a39;
}

.social ul li:last-child:hover {
  background-color: #ee802f;
}

.social a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 40px;
  margin-bottom: 25px;
}

nav .container {
  height: 40px;
  background: linear-gradient(to bottom, #333333 50%, #2b2b2b 50%);
  padding: 0 60px;
  border-radius: 5px;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #e9e8e3;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

nav a:hover {
  color: #ba2e1f;
}

#intro .container {
  display: flex;
}

#intro .container > img {
  /* max-width: 400px; */
  /* height: auto; */
  width: auto;
  max-height: 440px;
}

.intro-content {
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 46px;
}

.intro-content h1 {
  font-size: 86px;
  font-weight: normal;
  align-self: flex-end;
  line-height: 103px;
  align-self: flex-start;
}

.intro-content p {
  font-size: 16px;
  color: #666666;
  line-height: 22px;
}

.intro-content a {
  font-size: 16px;
  color: #ba2e1f;
  text-decoration: none;
  align-self: flex-end;
  margin-top: 17px;
}

#content {
  background-color: #f2f2f2;
  padding: 45px 0;
}

#content .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

#content p {
  color: #878787;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

#content h1 {
  font-size: 26px;
  font-weight: normal;
  color: #333333;
  margin-bottom: 50px;
}

#content a {
  font-size: 13px;
  color: #ba2e1f;
  text-decoration: none;
  float: right;
}

#about-info {
  margin-bottom: 20px;
}

#about-img {
  width: 100%;
  max-height: 150px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #dfdfdf;
  margin-bottom: 18px;
}

#about-img img {
  /* max-width: calc(100% - 10px); */
  width: 100%;
  height: auto;
}

.service {
  display: flex;
  margin: 30px 0;
}

.service:first-child {
  margin-top: 0;
}

.service:last-child {
  margin-bottom: 21px;
}

.service img {
  max-width: 64px;
  max-height: 64px;
}

.service-info {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service h2 {
  font-size: 14px;
  color: #878787;
}

.client-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.client-title h3 {
  font-size: 16px;
  color: #989898;
  margin-left: 10px;
}

.client-title span {
  font-weight: normal;
}

.client a {
  margin-top: 10px;
}

.client:first-child {
  margin-bottom: 35px;
}

footer {
  padding: 0 20px;
}

footer .container {
  /* max-height: 400px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 40px;
  padding: 23px 0;
}

footer .container > * {
  border-top: solid 1px #666666;
}

footer .container h1 {
  font-size: 16px;
  color: #666666;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 30px;
}

.tweet {
  margin-bottom: 25px;
}

.tweet p {
  font-size: 12px;
  color: #666666;
  letter-spacing: 0.4px;
  line-height: 19px;
}

.tweet span {
  color: #b92d1f;
}

#links ul {
  list-style-type: "»";
  color: #666666;
  font-size: 12px;
}

#links ul li {
  padding-bottom: 5px;
  border-bottom: solid 1px #d4d4d4;
  margin-bottom: 8px;
  padding-left: 10px;
}

#links a {
  color: #666666;
  text-decoration: none;
}

.post {
  color: #666666;
  margin-bottom: 45px;
}

.post h2 {
  font-size: 14px;
}

.post-title {
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 12px;
}

.post-title span {
  color: #b82c1f;
}

.post-content {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0;
  line-height: 14.4px;
}

.post a {
  color: #b82c1f;
  font-size: 12px;
  text-decoration: none;
  float: right;
}

#contacts input {
  height: 31px;
  outline: none;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 13px;
  color: #333333;
  margin-bottom: 10px;
}

#contacts input::placeholder {
  color: #989898;
}

#contacts #message {
  height: 110px;
}

#contacts button {
  height: 31px;
  width: 80px;
  background-color: #f2f2f2;
  border: none;
  color: #ba2e1f;
  font-size: 13px;
}

#contacts button:hover {
  cursor: pointer;
  opacity: .8;
}

#copyright {
  background-color: #f2f2f2;
  height: 65px;
  font-size: 12px;
  color: #919191;
  letter-spacing: 0.5px;
}

#copyright .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#down-top-bar {
  margin-top: 40px;
  height: 30px;
  width: 100%;
  background-color: #631a14;
  display: none;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center; 
  position: fixed;
  top: 6px;
  left: 20px; 
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;  width: 100%;
  height: 2px;  background-color: #ffffff;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: visible;
  top: 0;
  left: -100%;  
  width: 300px;
  height: 100%; 
  margin: 0;
  padding: 80px 0; 
  list-style: none;
  text-align: center; 
  background-color: #b82c1f;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  /* z-index: 100; */
}

.menu__item {
  display: block;
  padding: 12px 24px;  
  color: #333;  
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__item:hover {
  background-color: #666666;
}

@media (max-width: 1000px) {
  #intro h1 {
    font-size: 74px;
    line-height: 95px;
  }
}

@media (max-width: 930px) {
  .intro-content {
    padding-bottom: 30px;
  }
  #intro h1 {
    font-size: 64px;
    line-height: 85px;
  }
}

@media (max-width: 870px) {
  .intro-content {
    justify-content: center;
  }
  #content h1 {
    font-size: 23px;
  }
  #intro h1 {
    font-size: 55px;
    line-height: 75px;
  }
  .intro-content p {
    margin-bottom: 30px;
  }
}

@media (max-width: 820px) {
  #intro h1 {
    font-size: 47px;
    line-height: 70px;
  }
}

@media (max-width: 768px) { 
  #top-bar {
    height: 40px;
    position: fixed;
    top: 0;
  }
  #top-bar .container > ul {
    display: none;
  }

  #down-top-bar {
    display: flex;
  }
  .hamburger-menu {
    display: block;
  }
  nav {
    display: none;
  }
  header .container {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
  }

  .social {
    margin-top: 10px;
  }

  .intro-content {
    padding-left: 10px;
  }

  #intro .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #intro .container img {
    width: 100%;
  }

  #intro h1 {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 20px;
  }

  #content {
    padding-top: 30px;
  }

  #content h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  #content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #content .container > * {
    margin-bottom: 20px;
  }

  #about-img {
    border: none;
    align-items: flex-start;
  }

  #about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    text-align: justify;
  }

  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #copyright {
    height: 40px;
  }
}

@media (max-width: 600px) {
  #intro p {
    font-size: 12px;
  }

  #about-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 0;
  }

  #about-img {
    height: auto;
  }

  #about-img img{
    width: 60%;
  }

  #about p {
    font-size: 12px;
  }
  #copyright {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    /* justify-content: center; */
  }
  #copyright {
    font-size: 8px;
  }

  #links {
    margin-bottom: 20px;
  }

  #intro .container {
    grid-template-columns: 40% 60%;
    justify-content: center;
  }

  #intro h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #intro p {
    margin-bottom: 0;
  }

  #intro a {
    font-size: 14px;
  }

  #about p {
    margin-bottom: 10px;
  }
}
